params {
    input       = null
    outdir      = 'results'
    num_designs = 10
    container_rfdiffusion = 'ahhmedsamehh/rfdiffusion-standalone:v1-cu116'
}

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '--gpus all --entrypoint=""'
    }
    pod_native {
        docker.enabled    = false
        apptainer.enabled = false
        process.executor  = 'local'
        process.maxForks  = 4
    }
}
